<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ColombiaJoven.SiJoven"
        version   = "1.1.0">

  <name>Mision SEP</name>

  <description>
    Misión: Salvando El Planeta
  </description>

  <author href="http://www.facebook.com/EntropiaID" email="support@dfquintero.com">
    Oportunity Team
  </author>

  <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
  <preference name="permissions"                value="none"/>

  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version"           value="3.3.0" />          <!-- all: current version of PhoneGap -->
  <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->

  <!-- Plugins -->

  <!-- Core plugins -->
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <gap:plugin name="org.apache.cordova.splashscreen" />

  <!-- Third party plugins -->
  <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->

  <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />
  <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />

  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
  </gap:config-file>

  <!-- Define app icon for each platform. -->


  <icon src="res/icon/android/icon-96-xhdpi.png" />

  <!--Define access to external domains.-->
  <!--
  <access />            - a blank access tag denies access to all external resources.
  -->
  <access origin="*" /> - a wildcard access tag allows access to all external resource.
  <!--Otherwise, you can specify specific domains:.-->
  <!--
    <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
    <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
  -->
</widget>

